--extra-index-url https://download.pytorch.org/whl/cu118

soundfile
numpy
torch==2.0.1+cu118; sys_platform != 'darwin'
torch==2.0.1; sys_platform == 'darwin'
torchvision==0.15.2+cu118; sys_platform != 'darwin'
torchvision==0.15.2; sys_platform == 'darwin'
tokenizers
encodec
langid
gdown
unidecode
pyopenjtalk
pypinyin
inflect
cn2an
jieba
eng_to_ipa
jieba
openai-whisper
phonemizer
matplotlib
gradio
nltk
sudachipy